/* -----------all-------------> */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
.container {
	padding: 2% 4% 2% 9%;
}
/* -----------header-------------> */
.navigation{
    background-color: #F0FFF0;
}
.navbar{
    width: 100%;
    margin: 0 auto;
    padding: 0% 0;
    align-items: center;
    display: flex;
}
.logo a img {
	width: 57%;
}
nav{
    flex: 1;
    width: 18%;
    margin: 0 auto;
}
nav ul {
	margin-top: 0;
	float: inline-end;
}
nav ul li {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 11px;
}
nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
}
.logo {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}
.navbar .button {
	font-size: 16px;
	font-weight: 400;
	background: #21B573;
	padding: 0.8% 2%;
	border-radius: 33px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	margin-top: -1.5%;
}

/* -----------hero-------------> */

.hero{
    background-color: #F0FFF0;
}
.hero .container {
	display: flex;
	padding: 2% 8.9%;
}
.half-width{
	width: 50%;
}
.half-width img {
	width: 98%;
	margin: 0 0 0 25px;
	padding-bottom: 45px;
}
.half-width.left h5 {
	color: #FD511A;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
.half-width.left .contents {
	width: 76%;
	margin: 0 0 0 16%;
}
.half-width.left .contents h1 {
	font-size: 48px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 25px;
}
.half-width.left .contents h1 span {
	color: #21B573;
}
.half-width.left .contents p {
	color: #6C6B6B;
	margin-bottom: 35px;
	line-height: 36px;
}
.half-width.left .contents a {
	font-size: 16px;
	font-weight: 400;
	background: #21B573;
	padding: 2.5% 7.5%;
	border-radius: 33px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

/* -----------about-us-------------> */
.about-us {
	padding: 1.5% 0;
}
.grid {
display: flex;
width: 100%;
align-items: center;
}
.grid .card {
width: 270px;
margin: 0 auto;
text-align: center;
height: 270px;
display: grid;
align-content: center;
background-color: #F8FFFB;
transition: 0.3s;
}
.grid .card:hover {
background: no-repeat;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
animation: ease;
}
.grid .card img {
width: 26.5%;
margin: 0 auto;
}
.grid .card h3 {
font-size: 24px;
font-weight: 500;
color: #413960;
padding-top: 9%;
}
.grid .card p {
	color: #585859;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
}